<div ng-controller="databaseCtrl">
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="数据库">{{ mainTitle }}</h1>
            <span class="mainDescription">数据库</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <form role="form" class="form-inline">
                <div class="form-group">地址：<input type="text"  class="form-control" ng-model="queryMap.dbServer"></div>						    			
                <div class="form-group">端口：<input type="text"  class="form-control" ng-model="queryMap.dbPort"></div>						    			
                <div class="form-group">数据库类型：<input type="text"  class="form-control" ng-model="queryMap.dbType"></div>						    			
                <div class="form-group">数据库版本：<input type="text"  class="form-control" ng-model="queryMap.dbVersion"></div>						    			
                <div class="form-group">数据库：<input type="text"  class="form-control" ng-model="queryMap.dbName"></div>						    			
                <div class="form-group">表空间：<input type="text"  class="form-control" ng-model="queryMap.tableSpace"></div>						    			
                <div class="form-group">用户名：<input type="text"  class="form-control" ng-model="queryMap.dbUser"></div>						    			
                <div class="form-group">密码：<input type="text"  class="form-control" ng-model="queryMap.dbPw"></div>						    			
                <div class="form-group">备注：<input type="text"  class="form-control" ng-model="queryMap.remark"></div>						    			
                <div class="form-group">创建人ID：<input type="text"  class="form-control" ng-model="queryMap.createrId"></div>						    			
                <div class="form-group">创建人名：<input type="text"  class="form-control" ng-model="queryMap.createrName"></div>						    			
                <div class="form-group">更新人ID：<input type="text"  class="form-control" ng-model="queryMap.updaterId"></div>						    			
                <div class="form-group">更新人名：<input type="text"  class="form-control" ng-model="queryMap.updaterName"></div>						    			
                <div class="form-group">创建时间：<input type="text"  class="form-control" ng-model="queryMap.createDate"></div>						    			
                <div class="form-group">更新时间：<input type="text"  class="form-control" ng-model="queryMap.updateDate"></div>						    			
                <button class="btn btn-primary" type="button" ng-click="query()">查询</button>
                <button class="btn btn-green" type="button" ng-click="add()">新增</button>
            </form>
        </div>
        <div class="col-md-12">
            <div>
                 <div class="table-responsive">
                    <table ng-table="tableParams" class="table">
                        <tbody ng-repeat="p in $data">
                        <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
			                <td class="rowTd" data-title="'地址'"  sortable="'dbServer'">{{p.dbServer}}</td>						    			
			                <td class="rowTd" data-title="'端口'"  sortable="'dbPort'">{{p.dbPort}}</td>						    			
			                <td class="rowTd" data-title="'数据库类型'"  sortable="'dbType'">{{p.dbType}}</td>						    			
			                <td class="rowTd" data-title="'数据库版本'"  sortable="'dbVersion'">{{p.dbVersion}}</td>						    			
			                <td class="rowTd" data-title="'数据库'"  sortable="'dbName'">{{p.dbName}}</td>						    			
			                <td class="rowTd" data-title="'表空间'"  sortable="'tableSpace'">{{p.tableSpace}}</td>						    			
			                <td class="rowTd" data-title="'用户名'"  sortable="'dbUser'">{{p.dbUser}}</td>						    			
			                <td class="rowTd" data-title="'密码'"  sortable="'dbPw'">{{p.dbPw}}</td>						    			
			                <td class="rowTd" data-title="'备注'"  sortable="'remark'">{{p.remark}}</td>						    			
			                <td class="rowTd" data-title="'创建人ID'"  sortable="'createrId'">{{p.createrId}}</td>						    			
			                <td class="rowTd" data-title="'创建人名'"  sortable="'createrName'">{{p.createrName}}</td>						    			
			                <td class="rowTd" data-title="'更新人ID'"  sortable="'updaterId'">{{p.updaterId}}</td>						    			
			                <td class="rowTd" data-title="'更新人名'"  sortable="'updaterName'">{{p.updaterName}}</td>						    			
			                <td class="rowTd" data-title="'创建时间'"  sortable="'createDate'">{{p.createDate}}</td>						    			
			                <td class="rowTd" data-title="'更新时间'"  sortable="'updateDate'">{{p.updateDate}}</td>						    			
                            <td class="rowTd" >
                                <div class="pull-right margin-right-10">
                                <input type=button class="btn btn-primary  btn-sm" id="editRowBtn{{p.id}}" value="编辑"
                                       ng-click="setEditId(p.id)">
                                <input type=button class="btn btn-red  btn-sm"  value="删除"
                                       ng-click="delEditId(p.id)">
                                 </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <pagination total-items="records" ng-model="queryMap.pageCurrent" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"
                                items-per-page="queryMap.pageSize" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <h3 class="modal-title">编辑</h3>
    </div>
    <div class="modal-body">
        <div class="panel ">
            <div class="panel-body">
                <form role="form">
                    <input type="hidden"  ng-model="database.id" value="{{database.id}}">
                    <div class="form-group">
                        <label for="dbServer">地址</label>
                        <input type="text" class="form-control" id="dbServer" ng-model="database.dbServer" value="{{database.dbServer}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbPort">端口</label>
                        <input type="text" class="form-control" id="dbPort" ng-model="database.dbPort" value="{{database.dbPort}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbType">数据库类型</label>
                        <input type="text" class="form-control" id="dbType" ng-model="database.dbType" value="{{database.dbType}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbVersion">数据库版本</label>
                        <input type="text" class="form-control" id="dbVersion" ng-model="database.dbVersion" value="{{database.dbVersion}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbName">数据库</label>
                        <input type="text" class="form-control" id="dbName" ng-model="database.dbName" value="{{database.dbName}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="tableSpace">表空间</label>
                        <input type="text" class="form-control" id="tableSpace" ng-model="database.tableSpace" value="{{database.tableSpace}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbUser">用户名</label>
                        <input type="text" class="form-control" id="dbUser" ng-model="database.dbUser" value="{{database.dbUser}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="dbPw">密码</label>
                        <input type="text" class="form-control" id="dbPw" ng-model="database.dbPw" value="{{database.dbPw}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="remark">备注</label>
                        <input type="text" class="form-control" id="remark" ng-model="database.remark" value="{{database.remark}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="createrId">创建人ID</label>
                        <input type="text" class="form-control" id="createrId" ng-model="database.createrId" value="{{database.createrId}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="createrName">创建人名</label>
                        <input type="text" class="form-control" id="createrName" ng-model="database.createrName" value="{{database.createrName}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="updaterId">更新人ID</label>
                        <input type="text" class="form-control" id="updaterId" ng-model="database.updaterId" value="{{database.updaterId}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="updaterName">更新人名</label>
                        <input type="text" class="form-control" id="updaterName" ng-model="database.updaterName" value="{{database.updaterName}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="createDate">创建时间</label>
                        <input type="text" class="form-control" id="createDate" ng-model="database.createDate" value="{{database.createDate}}">
                    </div>			                						    			
                    <div class="form-group">
                        <label for="updateDate">更新时间</label>
                        <input type="text" class="form-control" id="updateDate" ng-model="database.updateDate" value="{{database.updateDate}}">
                    </div>			                						    			
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok($event)">确定</button>
        <button class="btn btn-red" ng-click="cancel($event)">取消</button>
    </div>
</script>
</div>
<!-- end: INLINE EDIT EXAMPLE -->
