
<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.dashboard">-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-home"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title" translate="sidebar.nav.dashboard.MAIN"> 首页 </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->
	<!--<li ng-class="{'active open':$state.includes('app.ui')}">-->
		<!--<a href="javascript:void(0)">-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-settings"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title" translate="sidebar.nav.element.MAIN"> 菜单一 </span><i class="icon-arrow"></i>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
		<!--<ul class="sub-menu">-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.elements">-->
					<!--<span class="title" translate="sidebar.nav.element.ELEMENTS"> Elements </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.buttons">-->
					<!--<span class="title" translate="sidebar.nav.element.BUTTONS"> Buttons </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.links">-->
					<!--<span class="title" translate="sidebar.nav.element.LINKS"> Links </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.icons">-->
					<!--<span class="title" translate="sidebar.nav.element.FONTAWESOME"> Font Awesome Icons </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.lineicons">-->
					<!--<span class="title" translate="sidebar.nav.element.LINEARICONS"> Linear Icons </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.modals">-->
					<!--<span class="title" translate="sidebar.nav.element.MODALS"> Modals </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.toggle">-->
					<!--<span class="title" translate="sidebar.nav.element.TOGGLE"> Toggle </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.tabs_accordions">-->
					<!--<span class="title" translate="sidebar.nav.element.TABS"> Tabs &amp; Accordions </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.panels">-->
					<!--<span class="title" translate="sidebar.nav.element.PANELS"> Panels </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.notifications">-->
					<!--<span class="title" translate="sidebar.nav.element.NOTIFICATIONS"> Notifications </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.treeview">-->
					<!--<span class="title" translate="sidebar.nav.element.TREEVIEW"> Treeview </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.media">-->
					<!--<span class="title" translate="sidebar.nav.element.MEDIA"> Media Object </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.nestable">-->
					<!--<span class="title" translate="sidebar.nav.element.NESTABLE"> Nestable List </span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.ui.typography">-->
					<!--<span class="title" translate="sidebar.nav.element.TYPOGRAPHY"> Typography </span>-->
				<!--</a>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</li>-->
	<!--<li ng-class="{'active open':$state.includes('app.table')}">-->
		<!--<a href="javascript:void(0)">-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-layout-grid2"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title" translate="sidebar.nav.tables.MAIN"> 菜单二 </span><i class="icon-arrow"></i>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
		<!--<ul class="sub-menu">-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.table.basic">-->
					<!--<span class="title" translate="sidebar.nav.tables.BASIC">Basic Tables</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.table.responsive">-->
					<!--<span class="title" translate="sidebar.nav.tables.RESPONSIVE">Responsive Tables</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.table.data">-->
					<!--<span class="title" translate="sidebar.nav.tables.DATA">Advanced Data Tables</span>-->
				<!--</a>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</li>-->
	<!--<li ng-class="{'active open':$state.includes('app.form')}">-->
		<!--<a href="javascript:void(0)">-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-pencil-alt"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title" translate="sidebar.nav.forms.MAIN"> 菜单三 </span><i class="icon-arrow"></i>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
		<!--<ul class="sub-menu">-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.elements">-->
					<!--<span class="title" translate="sidebar.nav.forms.ELEMENTS">Form Elements</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.xeditable">-->
					<!--<span class="title" translate="sidebar.nav.forms.XEDITABLE">Form Elements</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.texteditor">-->
					<!--<span class="title" translate="sidebar.nav.forms.TEXTEDITOR">Text Editor</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.wizard">-->
					<!--<span class="title" translate="sidebar.nav.forms.WIZARD">Form Wizard</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.validation">-->
					<!--<span class="title" translate="sidebar.nav.forms.VALIDATION">Form Validation</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.cropping">-->
					<!--<span class="title" translate="sidebar.nav.forms.CROPPING">Image Cropping</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li ui-sref-active="active">-->
				<!--<a ui-sref="app.form.upload">-->
					<!--<span class="title" translate="sidebar.nav.forms.UPLOAD">Multiple File Upload</span>-->
				<!--</a>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</li>-->
	<li ui-sref-active="active">
		<a ui-sref="app.report.list">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="报表"> 报表 </span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.admin')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="管理">管理</span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.admin.databaselist">
					<span class="title" translate="数据库">数据库</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.hostlist">
					<span class="title" translate="主机">主机</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.artifactlist">
					<span class="title" translate="构件">构件</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.templatelist">
					<span class="title" translate="模板">模板</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.steplist">
					<span class="title" translate="步骤">步骤</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.commandlist">
					<span class="title" translate="命令">命令</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.templatesteplist">
					<span class="title" translate="模板步骤">模板步骤</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.admin.stepcommandlist">
					<span class="title" translate="步骤命令">步骤命令</span>
				</a>
			</li>

		</ul>
	</li>

</ul>
<!-- end: MAIN NAVIGATION MENU -->
